.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.header-contents {
	margin-left: 20px;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 5px 10px;
	background-color: #B4CCCC;
	height: 100%;
	width: 80%;
}

body {
	background-color: #E0FFFF;
}
.task-tag {
    display:flex;
    justify-content: space-between;
}
.task-icon {
	margin-bottom: 5px;
	padding: 5px;
	display:flex;
	justify-content: space-between;

}
.task-area {
    background-color: white;
    padding-left:20px;
}
.narrow-area{
    margin-top: 10px;
    margin-bottom:10px;
    margin-left:20px
}

.footer-contents {
	margin-left: 20px;
}

.new-button{
    display:inline-block;
    }

.delete-button{
    display:inline-block;
}

.edit-button{
    display:inline-block;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

button {
	margin-bottom: 5px;
}

.task-icon {
	margin-bottom: 5px;
	padding: 5px;
	background-color: white;
}

.form-area {
	margin: 10px;
	padding: 10px;
	background-color: white;
}

.search-area {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.tweet-box {
    margin: 5px 0px;
	width: 780px;
	height: 56px;
}