<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>


    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
    <div class="header-contents">
        <h1>TODO</h1>
    </div>
    <div class="main-contents">
        <!--エラーメッセージ表示-->
        <div class="errorMessages" th:each="message : ${message}" th:text="${message}"></div>
        <!--本日の日付-->
        本日の日付：<span th:text="${Today}"></span><br>
        <!--新規タスクボタン-->
        <a href="/new">
            <button class="new-button" type="button">新規タスク</button>
        </a>
        <!--絞込-->
        <form th:action="@{/}" method="get">
            期限： <input name="start" type="date" th:value="${start}">～<input name="end" type="date" th:value="${end}">
            ステータス：<select class ="status" name ="status">
                        <option th:each="map : ${MapStatus}" th:text="${map.value}" th:value="${map.key}"></option>
                     </select>
            タスク内容：<input type = "text" name ="word" th:value = "${content}"/>
            <input type="submit" value="絞込">
        </form>
        <!--タスク一覧-->
        タスク内容　ステータス　タスク期限
        <div class="task-icon" th:each="task : ${tasks}">
            <span th:text="${task.content}"/>
            <label>
                <select class ="status" name ="status">
                    <option th:each="map : ${MapStatus}"
                            th:value="${item.key}"
                            th:text="${item.text}"
                            th:selected="${item.key == task.status}">
                    </option>
                </select>
            </label>

            <span th:text="${task.limitDate}"/>
            <!--編集・削除-->
            <a th:href="@{/edit/{id}(id=${task.id})}">
                <input type="button" value="編集">
            </a>
            <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
                <input type="submit" value="削除">
            </form>

        </div>

    </div>

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>