<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>


    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
    <div class="header-contents">
        <h1>TODOリスト</h1>
    </div>
    <div class="main-contents">
        <!--エラーメッセージ表示-->
        <div class="errorMessages" th:each="message : ${message}" th:text="${message}"></div>
        <!--本日の日付-->
        本日の日付：<span th:text="${Today}"></span><br>
        <!--新規タスクボタン-->
        <a href="/new">
            <button class="new-button" type="button">新規タスク</button>
        </a>
        <!--絞込-->
        <div class="search-area">
            <form th:action="@{/}" method="get">
                期限： <input name="start" type="date" th:value="${start}">～<input name="end" type="date" th:value="${end}">
                ステータス：<select class ="status" name ="status">
                            <option th:each="map : ${MapStatus}" th:text="${map.value}" th:value="${map.key}"></option>
                         </select>
                タスク内容：<input  name ="content" type = "text" th:value ="${content}"/>
                <input type="submit" value="絞込">
            </form>
        </div>
        <!--タスク一覧-->
        <div class="task-icon" th:each="task : ${tasks}">
            タスク内容：<span th:text="${task.content}"/>
            <form th:action="@{/updateStatus/{id}(id=${task.id})}" th:method="put">
                ステータス：
                <select class ="status" name ="status">
                    <option  th:if="${map.key != null}" th:each="map : ${MapStatus}"
                            th:value="${map.key}"
                            th:text="${map.value}"
                            th:selected="${map.key == task.status}">
                    </option>
                </select>
                <input type="submit" value="変更" class="変更">
            </form>

            <div class = "limit-date" th:if="${#dates.format(task.limitDate, 'yyyy/MM/dd') <= #dates.format(Date, 'yyyy/MM/dd')}">
                タスク期限<span th:text="${#dates.format(task.limitDate, 'yyyy/MM/dd')}" style="background-color:#ff99dd;"></span>
            </div>
            <div class = "limit-date" th:if="${#dates.format(task.limitDate, 'yyyy/MM/dd') > #dates.format(Date, 'yyyy/MM/dd')}">
                タスク期限<span th:text="${#dates.format(task.limitDate, 'yyyy/MM/dd')}" style="background-color:#ffee99;"></span>
            </div>
            <!--編集・削除-->
            <div class="edit-button">
                <a th:href="@{/edit/{id}(id=${task.id})}">
                    <input type="button" value="編集">
                </a>
            </div>
            <div class="delete-button">
                <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
                    <input type="submit" value="削除" class="削除">
                </form>
            </div>
        </div>
    </div>

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>